.pic img{
    width: 80%;
    vertical-align: top;
    
}

.pic  :hover{
    width: 95%;
    transition: 1.5s;
}
a {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 65, 114);
    font-size :"7";
}
.pic{
    width: 800%;
    margin: 30px;
    margin-bottom: 0;
}
.back{
    
    display: flex;
    background-color: pink;
    height: 735px;
}
.title{
   margin: 50px;
    font-size: 50px;
}

.title :hover{
    font-size: 80px;
    transition: 1.5s;

}

.au{
    font-size: 35px;
    color: rgb(96, 158, 206);
    margin: 50px;
}