.peo{
    width: 400px;
    background-color: rgb(255, 217, 223);
    margin: 50px;
    justify-content: center;    
    align-items: center; 

    font-size: 25px;
    
}

.back{
   height: 740px;
    background-color: rgb(167, 210, 251);
   display: flex;
   
}
.pic img{
    width: 80%;
   margin-left: 10%;
   margin-top: 20px;


}

.pic img:hover{
    width: 90%;
    margin-left: 5%;
    transition: 1.0s;
}
.name{
    font-size: 200%;
    margin-top: 10px;
    text-align: center;
   
}